<section class="row col-10 mx-auto justify-content-center" >
    <nav class="navbar bg-light col-7 p-2 m-2 mx-auto justify-content-center" [ngStyle]="{height:'70px'}">
      <div class="justify-content-center"><input type="button" class="btn btn-warning m-2 w-80" value="View All" routerLink="/viewsurrenderedcustomer/viewallsurrendered"/> <input type="button" class="btn btn-warning m-2 w-80" value="View By Year" routerLink="/viewsurrenderedcustomer/viewsurrenderedbyyear"/></div>
      
      
    </nav>
    <section class="col-6 p-2 m-2 mx-auto">
      <h2>View Surrendered Customers</h2>
      
    </section>
    <router-outlet></router-outlet>
</section> 