<section class="row col-md-10 mx-auto justify-content-center">
  <div class="text-center">
    <h2>View Surrendered Customers</h2>
  </div>
    <nav class="nav nav-link p-2 col-5 m-2 mx-auto" style="background-color:linen;">
      <div class="text-center"><input type="button" class="btn btn-warning m-2 w-80" value="View All" routerLink="/viewsurrenderedcustomer/viewallsurrendered"/> <input type="button" class="btn btn-warning m-2 w-80" value="View By Year" routerLink="/viewsurrenderedcustomer/viewsurrenderedbyyear"/></div>
      
      
    </nav>
    
    <router-outlet></router-outlet>
</section>