@media only screen and (max-width:600px){
    div input{
        text-align: center;
    }
    table{
        width: 80%;
        
    }
    th{
        display: none;
    }
    td{
        display: block;
    }
}

div input{
    text-align: center;
    
}
.btn-primary{
    background-color: #be4949;
    border-color: crimson;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: white;
    border-color: white; 
  }
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4682b4;
    color: white;
  }
  .customers td{
    background-color: aliceblue;
  }