<div class="col-md-4 mx-auto alert alert-success" *ngIf="msg!=undefined">{{msg}}</div>
<table class="table table-primary table-striped table-hover col-md-8 mx-auto mt-3">
  <tr>
    <th>Customer ID</th>
    <th>Customer Name</th>
    <th>Mobile No</th>
    <th>Email</th>
    <th>Aadhaar Card</th>
    <th>Address</th>
    <th>City</th>
    <th>Connection Status</th>
    <th>Cylinder type</th>
  </tr>
  <tr *ngFor="let cust of customers">
    <td>{{cust.customerId}}</td>
    <td>{{cust.userName | titlecase}}</td>
    <td>{{cust.mobileNumber}}</td>
    <td>{{cust.email}}</td>
    <td>{{cust.aadharCard}}</td>
    <td>{{cust.address}}</td>
    <td>{{cust.city}}</td>
    <td>{{cust.connectionStatus}}</td>
    <td>{{cust.cylinder.cylinderType}}</td>
    <!-- <td><a class="btn btn-danger text-white" (click)="deletebyid(emp.empId)">Delete</a></td> -->
    <!-- <td><a class="btn btn-warning text-white" routerLink="/editemp/{{emp.empId}}">Edit</a></td> -->
  </tr>
</table>
<section class="col-4 mx-auto">
  <a class="m-2 btn btn-info" (click)="previous()" *ngIf="currentpage!=1">Prev</a>
  <a class="m-2 btn btn-info" (click)="next()" *ngIf="currentpage!=totalpages">Next</a>
</section>