<div class="col-md-4 mx-auto p-2 m-2 text-center">
    <input type="text" placeholder="Enter Year" [(ngModel)]="year" class="form-control"/>
    <input type="button" value="search" (click)="viewbyyear()" class="btn btn-outline-info btn-floating p-2 m-2"/>
  </div>
  <section>
    <div *ngIf="msg!=undefined" class="alert alert-danger container d-grid gap-3 col-md-3 mx-auto p-3 m-3 text-center" role="alert">{{msg}}</div>
    <table class="customers table table-striped table-hover col-md-8 mx-auto mt-3" *ngIf="customers!=undefined && customers.length>=1"> 
      <tr>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Mobile No</th>
        <th>Email</th>
        <th>Aadhaar Card</th>
        <th>Address</th>
        <th>City</th>
        <th>Connection Status</th>
        <th>Cylinder type</th>
      </tr>
      <tr *ngFor="let cust of customers">
        <td>{{cust.customerId}}</td>
      <td>{{cust.userName | titlecase}}</td>
      <td>{{cust.mobileNumber}}</td>
      <td>{{cust.email}}</td>
      <td>{{cust.aadharCard}}</td>
      <td>{{cust.address | titlecase}}</td>
      <td>{{cust.city | titlecase}}</td>
      <td>{{cust.connectionStatus | uppercase}}</td>
      <td>{{cust.cylinder.cylinderType | titlecase}}</td>
      </tr>
      
    </table>
  </section>