@media only screen and (max-width:600px){
     div input{
        text-align: center;
    }
    
    table{
        width: 80%;
        
    }
    th{
        display: none;
    }
    td{
        display: block;
    }
}
div input{
    text-align: center;
    
}