<section class="col-md-8 mx-auto mt-3">
  <h2 class="text-center">View All Invoices</h2>
<div *ngIf="msg!=undefined" class="alert alert-danger col-md-4 mx-auto text-center">{{msg}}</div>

<table class="invoices table table-striped table-hover col-md-8 mx-auto mt-3" *ngIf="invoices!=undefined && invoices.length>=1">
  <tr>
    <th>Invoice ID</th>
    <th>Bill Amount</th>
    <th>Invoice Status</th>
    <th>Gas Booking Id</th>
    <th>Customer Id</th>
  </tr> 
  <tr *ngFor="let invoice of invoices">
    <td>{{invoice.invoiceId}}</td>
    <td>{{invoice.billAmount}}</td>
    <td>{{invoice.invoiceStatus}}</td>
    <td>{{invoice.booking.gasBookingId}}</td>
    <td>{{invoice.booking.customer.customerId}}</td>
  </tr>
</table>
</section>
