@media only screen and (max-width:600px){
    table{
        width: 80%;
    }
    th{
        display: none;
    }
    td{
        display: block;
    }
}
.btn-primary{
    background-color: #be4949;
    border-color: #a2649d;
}
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4682b4;
    color: white;
  }
  .customers td{
    background-color: aliceblue;
  }