<header style="background-color:lightcyan;" class="pt-4 m-2">
  <h1 style="text-align: center; color:midnightblue">Online E-gas Booking System</h1>
  <div style="width: 80%;text-align: right;"  >
      <a href="home.html" style="color:blueviolet; padding: 2px; background-color:silver;">Home</a>
  </div>
  <hr style="background-color: red; height: 5px;" />
</header>

<article>
  <!-- <nav class="navbar navbar-dark col-10 p-2 m-2 mx-auto " style="background-color:steelblue;" > -->
    <nav class="nav nav-link p-2 col-10 m-2 mx-auto" style="background-color:steelblue;" align="center" >
    <a routerLink='viewcustomer' class="m-2 text-white">View Customer</a>
    <a routerLink='addcustomer' class="m-2 text-white">Add Customer</a>
    <a routerLink='linkaadhar' class="m-2 text-white">Link Aadhar</a>
    <a routerLink='surrendercylinder' class="m-2 text-white">Surrender Cylinder</a>
    <a routerLink='viewsurrenderedcustomer' class="m-2 text-white">View Surrendered Customer</a>
   
  </nav>
  <router-outlet></router-outlet>
</article>
<footer class="page-footer purple pt-4 m-2">
  
    <hr style="background-color: red; height: 5px;"/>
    <div class="container text-center fw-bold" style="background-color: rgba(88, 76, 87, 0.171);">&copy;CopyRights Reserved 2021</div>

</footer>