<header>
  <h1 style="text-align: center ">Customer Management</h1>
  <div style="width: 80%;text-align: right;">
      <a href="home.html">Home</a>
  </div>
  <hr style="background-color: red; height: 5px;" />
</header>

<article>
  <nav class="col-6 bg-dark p-2 m-5 mx-auto ">
    <a routerLink='viewcustomer' class="m-2 text-white">View Customer</a>
   
  </nav>
  <router-outlet></router-outlet>
</article>
<footer style="text-align: center;">
  <hr style="background-color: red; height: 5px;"/>
  <div> Copy; CopyRights Reserved 2021</div>
  
</footer>