<div class="col-md-8 mx-auto">
  <h2 class="text-center">View Customers by Cylinder Type</h2>
</div>
<div class="col-md-4 mx-auto p-2 m-2">
  <h6>Cylinder Type</h6>
  <select [(ngModel)]="cylindertype"  (change)="viewbycylindertype()" class="form-select" > 
    <option  disabled>---Select Cylinder type---</option>
    <option *ngFor="let c of cylinders" value="{{c.cylinderType}}">{{c.cylinderType | titlecase}}</option>
  </select>

</div>
<section>
  <div *ngIf="msg!=undefined" class="alert alert-danger">{{msg}}</div>
  <table class="customers table table-striped table-hover col-md-8 mx-auto mt-3" *ngIf="customers.length>=1"> 
    <tr>
      <th><a  (click)="setField('customerId')">Customer ID</a></th>
      <th><a  (click)="setField('userName')">Customer Name</a></th>
      <th>Mobile No</th>
      <th>Email</th>
      <th><a  (click)="setField('aadharCard')">Aadhaar Card</a></th>
      <th>Address</th>
      <th><a  (click)="setField('city')">City</a></th>
      <th><a  (click)="setField('connectionStatus')">Connection Status</a></th>
      <th>Cylinder Type</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let cust of customers | orderby:sort">
      <td>{{cust.customerId}}</td>
    <td>{{cust.userName | titlecase}}</td>
    <td>{{cust.mobileNumber}}</td>
    <td>{{cust.email}}</td>
    <td>{{cust.aadharCard}}</td>
    <td>{{cust.address | titlecase}}</td>
    <td>{{cust.city | titlecase}}</td>
    <td>{{cust.connectionStatus | uppercase}}</td>
    <td>{{cust.cylinder.cylinderType | titlecase}}</td>
    <td><a class="btn btn-primary text-white" routerLink="/editcustomer/{{cust.customerId}}">Edit</a></td>
    </tr>
    
  </table>
</section>