<div  class="col-md-8 mx-auto p-3 m-3">
  <img src="http://localhost:4200/assets/contactus.jpeg" class="img-fluid rounded mx-auto d-block"/>

</div>
<div class="col-md-8 mx-auto p-3 m-3">
 
  <table class="col-md-8 mx-auto">
    
    <tr>
      <th colspan="2">Contact Us</th>
    </tr>
    <tr>
   
      <th>Address:</th>
      <td>157/F Nilgunj Road,Sodepur</td>
    </tr>
    
    <tr>
      <th>Phone No:</th>
      <td>9474948597</td>
    </tr>
    <tr>
      <th>Email Id:</th>
      <td>egasbooking@gmail.com</td>
    </tr>
  </table>
</div>