
<div class="col-md-4 mx-auto p-2 m-2 text-center" >
  <h2 class="text-center" id="h2">View Status</h2>
  <section  >
    <div class="alert alert-success" *ngIf="status!=undefined && errorMsg==undefined">Status: {{status | uppercase}}</div>
    <div class="alert alert-danger" *ngIf="errorMsg!=undefined">{{errorMsg}}</div>
  </section>
</div>
  <div class="col-md-4 mx-auto p-2 m-2 text-center" >
    <input type="text" placeholder="Enter Gas Booking Id" [(ngModel)]="gasbookingid" class="form-control" required/>
  <input type="button" value="View Status" (click)="viewstatus()" class="btn btn-outline-info btn-floating p-2 m-2" id="btnid"/>
  </div>


