<article class="row col-10 mx-auto" [ngStyle]="{height:'400px'}">
  <section class="col-3 bg-info p-2 m-2 ">
    <div><input type="button" class="btn btn-warning m-2 w-50" value="viewallcustomer" routerLink="/viewcustomer/viewall"/></div>
    <div><input type="button" class="btn btn-warning m-2 w-50" value="viewcustomerbyid" routerLink="/viewcustomer/viewbyid"/></div>
    <div><input type="button" class="btn btn-warning m-2 w-50" value="viewcustomerbycylindertype" routerLink="/viewcustomer/viewbycylindertype"/></div>
    <div><input type="button" class="btn btn-warning m-2 w-50" value="viewcustomerbycity" routerLink="/viewcustomer/viewbycity"/></div>
  </section>
  <section class="col-6 p-2 m-2">
    <h2>View Customer</h2>
    <router-outlet></router-outlet>
  </section>
</article>