<section class="row col-10 mx-auto justify-content-center">
  <nav class="nav nav-link p-2 col-12 m-2 mx-auto" style="background-color:linen;" >
    <div style="text-align: center;">
      <input type="button" class="btn btn-warning m-2 w-80" value="viewbookingdetails" routerLink="/viewbooking/viewbookingdetails"/>
      <input type="button" class="btn btn-warning m-2 w-80" value="viewstatus" routerLink="/viewbooking/viewstatus"/>
      <input type="button" class="btn btn-warning m-2 w-80" value="noofcylindersbooked" routerLink="/viewbooking/viewnoofcylindersbooked"/>
    </div>
  </nav>

    <router-outlet></router-outlet>

</section>