<section class="row col-10 mx-auto justify-content-center">
  <nav class="nav nav-link p-2 col-12 m-2 mx-auto" style="background-color:linen;" >
    <div style="text-align: center;">
      <input type="button" class="btn btn-primary m-2 w-80 ruler" value="View Booking Details" routerLink="/viewbooking/viewbookingdetails"/>
      <input type="button" class="btn btn-primary m-2 w-80 ruler" value="No of Cylinders Booked" routerLink="/viewbooking/viewnoofcylindersbooked"/>
    </div>
  </nav>

    <router-outlet></router-outlet>

</section>